body {
    font-size: 1.5rem;
}

.form-control {
    height: 50px;
    font-size: 2rem;
}

#login-form button[type="submit"] {
    height: 100%;
    font-size: 14px;
}

.main-sidebar {
    padding-top: 20px !important;
}

.content-header h1 {
    font-size: 3rem;
    margin-left: -18px;
}

.btn-lg {
    line-height: 2.0;
}